@font-face {
    font-family: FaithCollapsing;
    src: url(/app/css/fonts/Faith_Collapsing.ttf);
}
@font-face {
    font-family: RomanceFatal;
    src: url(/app/css/fonts/Rom_fatl_Srif.ttf);
}
.date {
    display: block;
    color: #aaa;
    font-style: italic;
    margin-bottom: 10px;
}
#n2 {
    display: none;
}
@media only screen and (max-width:993px) {
    #n2 {
        display: block;
        width: 100%;
    }
    #n1 {
        display: none;
    }
}
#n1 {
    width: 100%;
}
footer {
    position: relative;
    height: 50px;
    bottom: 0;
    width: 102%;
    border: 1px solid #FFF;
    background-color: #191919;
    background-image: url("/app/css/menus.png");
    background-repeat: repeat;
    color: #ccc;
}
body {
    font-family: RomanceFatal;
    background-color: #191919;
    background-image: url("/app/css/fondo.png");
    background-repeat: repeat;
    font-size: 20px;
    padding-top: 0%;
    display: block;
    width: 100%;
    color: #ccc;
    max-width: 1900px;
}
h3 {
    font-family: RomanceFatal;
}
h1 {
    font-family: FaithCollapsing;
    font-size: 47px;
}
a {
    background-image: url("/app/css/boton1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000000;
}
a:hover {
    background-color: #000000;
    background-image: url("");
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000000;
    cursor: pointer;
}
.btn {
    background-image: url("/app/css/boton1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000000;
}
.btn:hover {
    background-color: #000000;
    background-image: url("");
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000000;
}
.noticias {
    font-size: 18px;
    border: 2px dashed;
}
.menusuperior {
    background-color: #191919;
    background-image: url("/app/css/menus.png");
    background-repeat: repeat;
    color: #ccc;
    width: 100%;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
}
.menusuperior li {
    display: inline;
}
.mainview {
    height: 100%;
    position: relative;
    padding-bottom: 1%;
}
.gamemenu {
    position: relative;
    padding-top: 10%;
    text-align: center;
    background: url("/app/images/places/town.jpg") no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
.gamemenu div div {
    display: inline-block;
}
.pie {
    margin-top: 3%;
    position: relative;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFF;
}
.shop {
    position: relative;
    padding-top: 23%;
    background-image: url("/app/images/places/shop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.shop h1 {
    position: relative;
    padding-top: 5%;
    color: white;
}
.shop span {
    color: white;
}
.imagenenemy {
    position: relative;
    width: 70%;
    height: 180px;
    border: 2px solid;
}
.imagenhero {
    position: relative;
    width: 70%;
    height: 180px;
    border: 2px solid;
}
.damage {
    position: relative;
    text-align: center;
    height: 300px;
}
.tablalarga {
    position: relative;
    overflow: scroll;
    border: 2px solid #000;
    background-color: #FFFFFF;
    color: #000;
}
.tablalarga tr:first-child {
    background-color: #990000;
}
.tablalarga tr td:first-child {
    background-color: #990000;
}
.tablalarga tr {
    border: 1px solid #000;
}
.imagenmenu {
    padding-bottom: 5%;
}
.tablaLista {
    position: relative;
}
.cuadrolucha {
    position: relative;
    background-image: url("/app/images/places/palacio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    min-width: 100%;
    min-height: 100%;
    float: left;
}
.botoneslucha {
    color: black;
}
#cargando2 {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    color: #333;
    z-index: 1003;
    overflow: auto;
    background: url("/app/images/loading.gif") no-repeat center;
}
#cargando {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index: 1002;
    overflow: auto;
    background: #fff url("/app/images/ajax-loader.gif") no-repeat center;
}
.listamenu {
    float: left;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1001;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.gold {
    line-height: 18px;
    width: 18px;
    height: 18px;
}
.gamemenu {
    position: relative;
    padding-top: 10%;
    align-items: center;
}
#game1 {
    position: relative;
    float: left;
    width: 35%;
}
#game2 {
    position: relative;
    float: left;
    width: 10%;
}
#game3 {
    position: relative;
    float: left;
    width: 10%;
}
#game4 {
    position: relative;
    float: left;
    width: 10%;
}
#game5 {
    position: relative;
    float: left;
    width: 35%;
    text-align: right;
}
#game6 {
    position: relative;
    float: left;
    width: 100%;
}
.pager {
    text-align: center;
}
.pager button {
    display: inline;
}
.inputpegado {
    display: inline;
}
.noborder {
    border-style: none;
    border-bottom: 0px;
}
input {
    color: black;
}
.progress {
    background: rgba(245, 245, 245, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 10px;
    height: 30px;

}

.progress div{
    font-size: 90%;
}
.home{
    text-align:center;
    cursor: pointer;
}
