@font-face {
    font-family: FaithCollapsing;
    src: url(/app/css/fonts/Faith_Collapsing.ttf);
}
@font-face {
    font-family: RomanceFatal;
    src: url(/app/css/fonts/Rom_fatl_Srif.ttf);
}
a:hover {
    background-color: #000000;
    background-image:url("");
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 18px;
    padding: 6px 6px 6px 6px;
    border: solid #black 3px;
    margin-right: 5px;
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: RomanceFatal;
    background-color: #191919;
    background-image: url("/app/css/fondo.png");
    background-repeat: repeat;
color:#ccc;
    font-size: 10px;
    padding-top: 0%;
    display: block;
    width:100%;
    min-width: 400px;
}
a {
    background-image:url("/app/css/boton1.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 18px;
    padding: 6px 6px 6px 6px;
    border: solid #black 3px;
    margin-right: 5px;
    text-decoration: none;
}
.btn {
    background-image:url("/app/css/boton1.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 18px;
    padding: 6px 6px 6px 6px;
    border: solid #black 3px;
    margin-right: 5px;
    text-decoration: none;
}
.btn:hover {
    background-color: #000000;
    background-image:url("");
    font-family: RomanceFatal;
    color: #ffffff;
    font-size: 18px;
    padding: 6px 6px 6px 6px;
    border: solid #black 3px;
    margin-right: 5px;
    text-decoration: none;
}
.date {
    display: block;
    color: #aaa;
    font-style: italic;
    margin-bottom: 10px;
}
footer {
    position: relative;
    height: 50px;
    bottom: 0;
    width: 102%;
    border-top: 1px solid;
    background-color: #191919;
    background-image: url("/app/css/menus.png");
    background-repeat: repeat;
    color:#ccc;
}
h3{
    font-family: RomanceFatal;
    font-size:15px;
}
h1 {
    font-family: FaithCollapsing;
    font-size: 30px;
}

.btn:hover {
    background: #423c02;
    text-decoration: none;
}
.noticias {
    font-size: 15px;
    border: 2px dashed;
}
.imagenenemy {
    position: relative;
    width: 50%;
    height: 90px;
    border: 2px solid;
}
.imagenhero {
    position: relative;
    width: 50%;
    height: 90px;
    border: 2px solid;
}
#game1 {
    position: relative;
    float: left;
    width: 35%;
}
#game2 {
    position: relative;
    float: left;
    width: 10%;
}
#game3 {
    position: relative;
    float: left;
    width: 10%;
}
#game4 {
    position: relative;
    float: left;
    width: 10%;
}
#game5 {
    position: relative;
    float: left;
    width: 35%;
    text-align: right;
}
#game6 {
    position: relative;
    float: left;
    width: 100%;
}
.pager {
    text-align: center;
}

.pager button{
    display: inline;

}
.cuadrolucha {
    position: relative;
    background-image: url("/app/images/places/palacio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    min-width: 100%;
    min-height: 100%;

}
.noborder{
    border-style: none;
    border-bottom:0px;
}
