<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col l12">
            <h1>About Us</h1>
            <ul>
                <li>This page is made by Mario Herrera and Eugenio Cesar, students in CDP Jose Cabrera.</li>
                <li>We mostly used AngularJS and Bootstrap for this website</li>
                <li>Game images were taken from Dark Souls 3</li>
                <li>The information about items,characters and the rest of the page is made by us</li>
            </ul>
            <h1>Contact Form</h1>
            <form class="w3-container" ng-submit="sendEmail()" method="post" >
                Name<input class="w3-input" type="text" ng-model="vm.name"></input><br>
                Contact Email<input class="w3-input" type="text" ng-model="vm.email" ></input><br>
                Tell us<br>
                <textarea name="message" class="w3-input" rows="8" cols="40" ng-model="vm.message"></textarea><br>
                <input type="reset" value="Clean Form"></input>
                <input type="submit" value="Send"></input>
            </form>
        </div>

    </div>
</div>
