<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col l12">
            <h3>Users</h3>
            <div class="w3-responsive">
                <table class="w3-table tablalarga">
                    <tr>
                        <th>Username</th>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Account Type</th>
                        <th>Champion ID</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Select <input type="checkbox" class="w3-check" ng-model="selectallUsers" ng-change="changeUsers()"></th>
                    </tr>
                    <tr ng-repeat="user in users">
                        <td>{{user.username}}</td>
                        <td>{{user.fullname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.tipo}}</td>
                        <td>{{user.idcampeon}}</td>
                        <td>
                            <a ng-click="editar(user.idcampeon)">Edit</a>
                        </td>
                        <td>
                            <a ng-click="eliminar(user.idcamepon)">Delete</a>
                        </td>
                        <td>
                            <input type="checkbox" class="w3-check" ng-model="selectUsers[$index]" >
                        </td>
                    </tr>
                </table>
                <a ng-click="createUser()">Create</a><a ng-click="deleteSelectedUsers()">Delete Selected</a>
            </div>
        </div>
        <div class="w3-col l12">
            <h3>Heroes</h3>
            <div class="w3-responsive">
                <table class="w3-table tablalarga">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>ATQ</th>
                        <th>DEF</th>
                        <th>CRIT</th>
                        <th>VIT</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Select<input type="checkbox" class="w3-check" ng-model="selectallHeroes" ng-change="changeHeroes()"></th>
                    </tr>
                    <tr ng-repeat="champ in heroes">
                        <td>{{champ.id}}</td>
                        <td>{{champ.name}}</td>
                        <td>{{champ.level}}</td>
                        <td>{{champ.atq}}</td>
                        <td>{{champ.def}}</td>
                        <td>{{champ.crit}}</td>
                        <td>{{champ.vit}}</td>
                        <td>
                            <a ng-click="editar(champ.id-1)">Edit</a>
                        </td>
                        <td>
                            <a ng-click="eliminar(champ.id-1)">Delete</a>
                        </td>
                        <td>
                            <input type="checkbox" class="w3-check" ng-model="selectHeroes[$index]" value="">
                        </td>
                    </tr>
                </table>
                <a ng-click="createHeroe()">Create</a><a ng-click="deleteSelectedHeroes()">Delete Selected</a>

            </div>
        </div>
        <div class="w3-col l12">
            <h3>Creatures</h3>
            <div class="w3-responsive">
                <table class="w3-table tablalarga">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>ATQ</th>
                        <th>DEF</th>
                        <th>CRIT</th>
                        <th>VIT</th>
                        <th>IMG Source</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Select<input type="checkbox" class="w3-check"ng-model="selectallCreatures" ng-change="changeCreatures()"></th>
                    </tr>
                    <tr ng-repeat="monster in monsters">
                        <td>{{monster.id}}</td>
                        <td>{{monster.name}}</td>
                        <td>{{monster.level}}</td>
                        <td>{{monster.atq}}</td>
                        <td>{{monster.def}}</td>
                        <td>{{monster.crit}}</td>
                        <td>{{monster.vit}}</td>
                        <td>{{monster.image}}</td>
                        <td>
                            <a ng-click="editar(monster.id-1)">Edit</a>
                        </td>
                        <td>
                            <a ng-click="eliminar(monster.id-1)">Delete</a>
                        </td>
                        <td>
                            <input type="checkbox" class="w3-check" ng-model="selectCreatures[$index]" value="">
                        </td>
                    </tr>
                </table>
                <a ng-click="createCreature()">Create</a><a ng-click="deleteSelectedCreatures()">Delete Selected</a>
            </div>
        </div>
        <div class="w3-col l12">
            <h3>Items</h3>
            <div class="w3-responsive">
                <table class="w3-table tablalarga">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>ATQ</th>
                        <th>DEF</th>
                        <th>CRIT</th>
                        <th>VIT</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Select <input type="checkbox" class="w3-check" ng-model="selectallItems" ng-change="changeItems()"></th>
                    </tr>
                    <tr ng-repeat="objeto in objetos">
                        <td>{{objeto.id}}</td>
                        <td>{{objeto.nombre}}</td>
                        <td>{{objeto.atq}}</td>
                        <td>{{objeto.def}}</td>
                        <td>{{objeto.crit}}</td>
                        <td>{{objeto.vit}}</td>
                        <td>{{objeto.precio}}</td>
                        <td>
                            <a ng-click="editar(objeto.id-1)">Edit</a>
                        </td>
                        <td>
                            <a ng-click="eliminar(objeto.id-1)">Delete</a>
                        </td>
                        <td>
                            <input type="checkbox" class="w3-check" ng-model="selectItems[$index]" value="">
                        </td>
                    </tr>
                </table>
                <a ng-click="createItem()">Create</a><a ng-click="deleteSelectedItems()">Delete Selected</a>
            </div>
        </div>

        <div class="w3-col l12">
            <h3>News</h3>
            <div class="w3-responsive">
                <table class="w3-table tablalarga">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>News Content</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Select <input type="checkbox" class="w3-check" ng-model="selectallNews" ng-change="changeNews()"></th>
                    </tr>
                    <tr ng-repeat="article in articles">
                        <td>{{article.title}}</td>
                        <td>{{article.author}}</td>
                        <td><span class="date" ng-bind="article.date"></span></td>
                        <td>{{article.contents}}</td>
                        <td>
                            <a ng-click="editar(article.id-1)">Edit</a>
                        </td>
                        <td>
                            <a ng-click="eliminar(article.id-1)">Delete</a>
                        </td>
                        <td>
                            <input type="checkbox" class="w3-check" ng-model="selectNews[$index]" value="">
                        </td>
                    </tr>
                </table>
                <a ng-click="createNews()">Create</a><a ng-click="deleteSelectedNews()">Delete Selected</a>
            </div>
        </div>

    </div>

</div>
</div>
