<div class="w3-container">
    <div class="w3-row">
        <h3>Select Your Enemy</h3>
        <div class="w3-col l6" style="border-right:2px solid;">
            <div class="w3-responsive">
                <h3>Heroes</h3>
                <span>Filter</span>
                <input ng-model="busqueda" class="w3-input" placeholder="Search..."></input>
                <br>
                <table class="w3-table tablalarga">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Atq
                        </th>
                        <th>
                            Def
                        </th>
                        <th>
                            Crit
                        </th>
                        <th>
                            Vit
                        </th>
                        <th>Choose</th>
                    </tr>
                    <tr ng-repeat="champ in heroes |filter:busqueda" ng-hide="champ.id==heroe1.id">

                        <td>{{champ.name}}</td>
                        <td>{{champ.level}}</td>
                        <td>{{champ.atq}}</td>
                        <td>{{champ.def}}</td>
                        <td>{{champ.crit}}</td>
                        <td>{{champ.vit}}</td>
                        <td>
                            <a ng-click="elegir(champ.id-1)">Choose</a>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="w3-col l6" style="border-left:2px solid">
            <div class="w3-responsive">
                <h3>Creatures</h3>
                <span>Filter</span>
                <input ng-model="busquedamonster" class="w3-input"  placeholder="Search..."></input>
                <br>
                <table class="w3-table tablalarga">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Atq
                        </th>
                        <th>
                            Def
                        </th>
                        <th>
                            Crit
                        </th>
                        <th>
                            Vit
                        </th>
                        <th>Choose</th>
                    </tr>
                    <tr ng-repeat="enemy in monsters |filter:busquedamonster">

                        <td>{{enemy.name}}</td>
                        <td>{{enemy.level}}</td>
                        <td>{{enemy.atq}}</td>
                        <td>{{enemy.def}}</td>
                        <td>{{enemy.crit}}</td>
                        <td>{{enemy.vit}}</td>
                        <td>
                            <a ng-click="elegirmonster(enemy.id-1)">Choose</a>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="w3-row"><a ui-sref="gamemenu">Back to Menu</a></div>
</div>
