<div class="w3-container">
    <div class="w3-row">
        <h1>Create your Champ!</h1>
        <form ng-submit="vm.registraCampeon()" method="post">
            Hero Name
            <input class="w3-input" name="heroename" type="text" ng-model="vm.heroname"/>
            Atq
            <input type="button" class="w3-btn w3-light-grey" value="-" ng-click="vm.restaStat(0)"/><input class="" type="number" ng-model="vm.stats[0]" disabled=""><input type="button"  class="w3-btn w3-light-grey" value="+" ng-click="vm.sumaStat('0')"/>
            <br>Def
            <input type="button" class="w3-btn w3-light-grey" value="-" ng-click="vm.restaStat(1)"/><input class="" type="number" ng-model="vm.stats[1]" disabled=""><input type="button" class="w3-btn w3-light-grey" value="+" ng-click="vm.sumaStat('1')"/>
            <br>Crit
            <input type="button" class="w3-btn w3-light-grey" value="-" ng-click="vm.restaStat(2)"/><input class="" type="number" ng-model="vm.stats[2]" disabled=""><input type="button" class="w3-btn w3-light-grey" value="+" ng-click="vm.sumaStat('2')"/>
            <br>Vit
            <input type="button" class="w3-btn w3-light-grey" value="-" ng-click="vm.restaStat(3)"/><input class="" type="number" ng-model="vm.stats[3]" disabled=""><input type="button" class="w3-btn w3-light-grey" value="+" ng-click="vm.sumaStat('3')"/>
            <br>Remaining Points
            <input class="w3-input" name="" ng-model="vm.stats[4]" disabled=""/>
            <button type="reset" class="btn ">Clean</button>
            <button class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
