    <div class="w3-row gamemenu">
        <div class="w3-center" style="margin-top:24%;">
            <div class="w3-col l4 imagenmenu">
                <a ng-click="showShop()">Shop</a>
            </div>
            <div class="w3-col l4 imagenmenu">
                <a ng-click="showEnemy()" >Figth Now!</a>
            </div>
            <div class="w3-col l4 imagenmenu">
                <a ng-click="showHero()">Hero Profile</a>
            </div>
        </div>
    </div>
