<div class="w3-container" style="margin-left:0px">
    <div class="w3-row cuadrolucha">
            <div id="game1">
                <img ng-src="{{heroe1.image}}" class="imagenhero" alt="" /><h3 ng-bind="heroe1.name" class="text-left"></h3>
                HP
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="herohp" ng-bind="herovida1 | currency:' '"></div>
                </div>
                <dt>LvL</dt>
                <dd ng-bind="heroe1.level"></dd>
                <dt>ATQ</dt>
                <span ng-bind="heroe1.atq"></span>
                +<span class="w3-badge w3-green" ng-bind="vm.stats.atq"></span>
                
            
            <dt>DEF</dt>
            <span ng-bind="heroe1.def"></span>
            +<span class="w3-badge w3-green" ng-bind="vm.stats.def"></span>

        <dt>CRIT</dt>
        <span ng-bind="heroe1.crit"></span>
        +<span class="w3-badge w3-green" ng-bind="vm.stats.crit"></span>
        

    <dt>VIT</dt>
    <span ng-bind="heroe1.vit"></span>
    +<span class="w3-badge w3-green" ng-bind="vm.stats.vit"></span>
    

</ul>
</div>
<div id="game2">

<span class="w3-badge w3-red" ng-bind="damage1 | currency:'  '"></span>

</div>
<div class="text-center" id="game3">
Turn:
<span ng-bind="turno "></span>
<h1 ng-bind="ganador" ng-if="ganador"></h1>
</img><img class="gold" src="/app/images/items/coinbag.png" ng-if="oro"/><span ng-bind="oro | currency:''" ng-if="oro" style="font-size:24px"></span><br>
<h3 ng-bind="exp | currency:'Exp '" ng-if="exp"></h3>

</div>
<div id="game4">
<span class="w3-badge w3-red" ng-bind="damage2 | currency:'  '"></span>

</div>
<div id="game5" class="">
<img ng-src="{{heroe2.image}}" alt="" class="imagenenemy"/><h3 ng-bind="heroe2.name"></h3>
HP
<div class="progress">
<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="enemyhp" ng-bind="herovida2 | currency:' '"></div>
</div>
<ul class="text-right">
<dt>LvL</dt>
<dd ng-bind="heroe2.level"></dd>
<dt>ATQ</dt>
<dd ng-bind="heroe2.atq"></dd>
<dt>DEF</dt>
<dd ng-bind="heroe2.def"></dd>
<dt>CRIT</dt>
<dd ng-bind="heroe2.crit"></dd>
<dt>VIT</dt>
<dd ng-bind="heroe2.vit"></dd>
</ul>
</div id="game6">
<div class="w3-row text-center botoneslucha">
<button class="btn "ng-click="showEnemy()">Change Rival</button>
<button class="btn" ng-click="volver()">Back to Menu</button>
<button id="lucha" class="btn" ng-click="combat()" ng-disabled="fighting">Fight</button>

</div>


</div>

</div>
