<div class="w3-container">
    <div class="w3-row w3-margin-top">
        <div class="w3-center">
            <div class="">
                <div class=" w3-responsive">
                        <h1>hero</h1>
                    <table class="w3-table tablalarga">
                        <tr>
                            <td class="">Name</td>
                            <td class="w3-white">{{vm.currentProfile.name}}</td>
                        </tr>
                        <tr>
                            <td>Level</td>
                            <td>{{vm.currentProfile.level}}</td>
                        </tr>
                        <tr>
                            <td>Atq</td>
                            <td>{{vm.currentProfile.atq}}
                                <div class="w3-badge w3-green">+<span ng-bind="stats.atq"></span>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <td>Def</td>
                            <td>{{vm.currentProfile.def}}
                                <div class="w3-badge w3-green">+<span ng-bind="stats.def"></span>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <td>Crit</td>
                            <td>{{vm.currentProfile.crit}}
                                <div class="w3-badge w3-green">+<span ng-bind="stats.crit"></span>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <td>Vit</td>
                            <td>{{vm.currentProfile.vit}}
                                <div class="w3-badge w3-green">+<span ng-bind="stats.vit"></span>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <td>Gold</td>
                            <td>
                                <img class="gold" src="/app/images/items/coinbag.png"></img>{{vm.currentProfile.gold | currency:''}}</td>
                        </tr>
                        <tr>
                            <td>Exp</td>
                            <td>{{vm.currentProfile.exp | currency:' '}}/{{vm.currentProfile.level*100|currency:' '}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="w3-responsive">
                <div class="w3-margin-top">
                    <h1>Inventory</h1>
                </div>
                <div class="panel-body">
                    <table class="w3-table tablalarga">
                        <tr>
                            <td>Name</td>
                            <td>ATQ</td>
                            <td>DEF</td>
                            <td>CRIT</td>
                            <td>VIT</td>
                            <td>PRECIO</td>
                            <td>IMAGE</td>
                        </tr>
                        <tr ng-repeat="weapon in currentInventory">
                            <td ng-bind="weapon.nombre"></td>
                            <td ng-bind="weapon.atq"></td>
                            <td ng-bind="weapon.def"></td>
                            <td ng-bind="weapon.crit"></td>
                            <td ng-bind="weapon.vit"></td>
                            <td ng-bind="weapon.precio | currency:''"></td>
                            <td>
                                <button class="btn" type="button" name="button" ng-click="vm.vender($index)" ng-if="weapon.nombre">Sell</button>
                            </td>

                        </tr>

                    </table>
                </div>
            </div><br>
            <button class="btn" type="button" ng-click="vm.volver()">Back to Menu</button>
        </div>
    </div>
</div>
