<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col l12">
            <h1>News</h1>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 noticias">
            <div ng-repeat="article in articles |limitTo:vm.limite:vm.inicio |orderBy:'-date'">
                <h3 ng-bind="article.title"></h3>
                <span class="date" ng-bind="article.date"></span>
                <p class="text-justify" ng-bind="article.contents"></p>
            </div>
            <ul class="pager">
                <button class="btn" ng-if="!(vm.paginaActual===1)" ng-click="vm.previa()">&larr; Previous</button>
                <span ng-bind="vm.paginaActual"></span>
                <button class="btn" ng-if="vm.paginaActual < vm.paginas" ng-click="vm.siguiente()">Next &rarr;</button>
            </ul>
        </div>
    </div>
</div>
