<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col l12">
            <ul>
                <li>
                    <a href="" ui-sref="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
