<div class="w3-container">
    <div class="w3-row" ng-if="!currentUser">
        <div class="w3-col l12">
            <h1>Login</h1>
            Login:
            <input class="w3-input" name="" type="text" ng-model="vm.username"/>
            Password:
            <input class="w3-input" name="" type="password" ng-model="vm.password"/>
            <span class="w3-badge w3-red" ng-bind="vm.error"></span><br>
            <button class="btn" ui-sref="home">Cancel</button>
            <button class="btn" ng-click="vm.login()">Login</button>
        </div>
    </div>
    <div class="row" ng-if="currentUser">
        <div class="w3-col l12">
            <h3>User Panel</h3>
            User:<span ng-bind="vm.username"></span>
            <br>
            Email:
            <span ng-bind="vm.email"></span><br>
            Account Type:
            <span ng-bind="vm.account"></span>
            <br><br>
            <a ui-sref="modUser">Edit Profile</a>
            <a ui-sref="adminPanel" ng-if="vm.isAdmin">Admin Panel</a>
            <a ng-click="vm.cerrarSesion()">LogOut</a><br>
        </div>
    </div>
</div>
