<div class="w3-container">
    <div class="w3-row">
        <div class="w3-responsive">
        <table class="w3-table tablalarga">
            <th>
                <h3>Edit User Information</h3>

            </th>
            <th>
            </th>
            <tr class="w3-white">
                <td class="w3-white">
                    <label for="Name">Name
                    </label><input type="text" name="" ng-model="currentUser.fullname"/></td>
                <td>
                    <label for="Name">Username
                    </label><input type="text" name="" ng-model="currentUser.username"/></td>
            </tr>
            <tr>
                <td class="w3-white">
                    <label for="Name">E-mail
                    </label><input type="email" name="" ng-model="currentUser.email"/></td>
                <td>
                    <label for="Name">Password
                    </label><input type="password" name="" ng-model="currentUser.pass"/></td>
            </tr>
        </table>
    </div>
        <div class="pull-right">
            <button class="btn" type="button" ng-click="vm.volver()">Back to Home</button>
            <button class="btn" type="button" ng-click="vm.saveUser()">Save</button>
        </div>
    </div>
</div>
