<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col l12">
            <h1>Register</h1>
            <form no-validate ng-submit="vm.register()" method="post" name="form" autocomplete="off" class="w3-container">
                Fullname:
                <input class="w3-input" name="fullname" type="text" ng-model="vm.fullname" ng-minlength="3"/>
                <p ng-show="form.fullname.$invalid && form.fullname.$error.minlength" class="help-block">The name must have 3 characters min.</p>
                Username:
                <input class="w3-input" name="username" type="text" ng-model="vm.username" username/>
                <p class="help-block" ng-hide="vm.validusername">This Username is taken!</p>
                Email:
                <input class="w3-input" name="email" type="email" ng-model="vm.email" comprueba-email/>
                <p ng-show="form.email.$invalid && form.email.$error.email" class="help-block">Email isn't valid</p>
                Password
                <input class="w3-input" name="password" type="password" ng-model="vm.pass" ng-minlength="8"/>
                <p ng-show="form.password.$invalid && form.password.$error.minlength" class="help-block">The password must have 8 characters min.</p>
                Repeat Password
                <input class="w3-input" name="r_password" type="password" ng-model="vm.pass2" ng-minlength="8"/>
                <p ng-show="form.r_password.$invalid && form.r_password.$error.minlength" class="help-block">The password must have 8 characters min</p>
                <button type="reset" class="btn btn-danger">Clean</button>
                <button class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
