<div class="w3-container">
    <div class="w3-row shop">
        <h1 style="">Shop</h1>
        <div class="w3-responsive">
            <table class="w3-table tablalarga">
                <tr>
                    <td>Name</td>
                    <td>ATQ</td>
                    <td>DEF</td>
                    <td>CRIT</td>
                    <td>VIT</td>
                    <td>PRICE</td>
                    <td>IMAGEN</td>
                </tr>
                <tr ng-repeat="weapon in objetos" class="w3-white">
                    <td ng-bind="weapon.nombre"></td>
                    <td ng-bind="weapon.atq"></td>
                    <td ng-bind="weapon.def"></td>
                    <td ng-bind="weapon.crit"></td>
                    <td ng-bind="weapon.vit"></td>
                    <td ng-bind="weapon.precio |currency:''"><span class="gold"></span></td>
                    <td>
                        <button  class="btn" type="button" name="button" ng-click="vm.comprar(weapon.id)">Buy</button>
                    </td>

                </tr>

            </table>
            <button class="btn" type="button" ng-click="vm.volver()">Back to menu</button>
            <div class="w3-right-align border">
                <img class="gold" src="/app/images/items/coinbag.png"/></img><span ng-bind="currentGold | currency:''"></span>
                </div>
        </div>
    </form>
</div>
</div>
