<!DOCTYPE HTML>
<html>
    <head>
        <link href="app/css/w3.css" rel="stylesheet"/>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <title>Merralith</title>
        <link type="text/css" href="app/css/main.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" type="text/css" media="only screen and (max-width: 1390px), only screen and (max-device-width: 1390px)" href="/app/css/small-device.css"/>
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    </head>
    <body>
        <div id="fade" class="overlay"></div>
        <div id="cargando2"></div>
        <div id="cargando"></div>
        <div class="w3-container" ng-app="Merralith">
            <div class="w3-row w3-border w3-margin-bottom menusuperior">
                <div class="w3-col l2 s4">
                    <!--<div class="navbar-brand">
                    <img class="logo"src="css/images/escudo3.png" alt="Logo Merralith" />
                </div>-->
                    <h1 style="home" ui-sref="home">Merralith</h1>
                </div>
                <div class="w3-col l10 s8" style="line-height: 84px; border-bottom: 1px solid ;border-left: 1px solid ">
                    <ul class=" listamenu">
                        <li class="">
                            <a ui-sref="home">Home</a>
                        </li>
                        <li class="noborder" ng-if="!currentUser">
                            <a ui-sref="register">Register</a>
                        </li>
                        <li class="noborder" ng-if="currentUser">
                            <a ui-sref="gamemenu">Game</a>
                        </li>
                        <li class="">
                            <a ui-sref="about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-row" id="n1">
                <div class="w3-col l7 mainview w3-border" ui-view="main" style="margin-right:2%; margin-left:2%"></div>
                <div class="w3-col l4 w3-border w3-round-xlarge w3-border-grey w3-padding-hor-16 w3-padding-ver-8" style="margin-right:2%; margin-left:2%;margin-bottom:2%" ui-view="sidebar"></div>
            </div>
            <div class="w3-row" id="n2">
                <div class="w3-col l4 w3-border w3-round-xlarge w3-border-grey w3-padding-hor-16 w3-padding-ver-8" style="margin-right:2%; margin-left:2%;margin-bottom:2%" ui-view="sidebar"></div>
                <div class="w3-col l7 mainview w3-border" style="margin-right:2%; margin-left:2%" ui-view="main"></div>
            </div>
            <footer class="w3-row pie">
                <div class="w3-col l12">
                    <span>This page was made by Mario Herrera and Eugenio Cesar, students in CDP Jose Cabrera.</span>
                </div>
            </footer>
        </div>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript">
            $body = $("body");

            $(window).load(function() {

                $('#cargando').hide();
                $('#cargando2').hide();
                $('#fade').hide();
            });
        </script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="app/js/app.js"></script>
        <script src="node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="node_modules/restangular/node_modules/lodash/lodash.js"></script>
        <script src="node_modules/angular-jwt/dist/angular-jwt.js"></script>
        <script src="node_modules/restangular/dist/restangular.js"></script>
        <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="app/js/controllers/home-controller.js"></script>
        <script src="app/js/controllers/register-controller.js"></script>
        <script src="app/js/controllers/login-controller.js"></script>
        <script src="app/js/controllers/game-controller.js"></script>
        <script src="app/js/controllers/champ-controller.js"></script>
        <script src="app/js/controllers/profile-controller.js"></script>
        <script src="app/js/controllers/shop-controller.js"></script>
        <script src="app/js/controllers/user-controller.js"></script>
        <script src="app/js/controllers/heroe2-controller.js"></script>
        <script src="app/js/controllers/contact-controller.js"></script>
        <script src="app/js/controllers/admin-controller.js"></script>
        <script src="app/js/services/storage-service.js"></script>
        <script src="app/js/services/session-service.js"></script>
        <script src="app/js/services/registro-service.js"></script>
        <script src="app/js/services/combat-service.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
